/* General card styling */
.custom-card {
    background: #eff8f6; /* Light greyish color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 20px; /* Space between cards if you have multiple */
    transition: 0.3s; /* Smooth hover effect */
    max-width: 600px; /* Adjust as needed */
    display: grid;

}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
    transform: translateY(-5px); /* Slight lift on hover */
}

/* Title styling */
.custom-card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Card content styling */
.custom-card-content {
    position: relative;
    margin-bottom: 15px;
}

/* Profile picture and name styling */
.custom-card-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-card-profile .pfp {
    border-radius: 50%; /* Circular profile picture */
    margin-right: 10px; /* Space between the image and name */
}

/* Card info styling */
.custom-card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.custom-card-info .location {
    color: #007BFF; /* Use a blue color for location */
}
