/* General navbar styling */
.mainNav {
    background: #225E93; /* Gradient from blue to teal */
    display: flex;
    justify-content: space-between; /* Space out the elements */
    align-items: center; /* Vertically center align everything */
    padding: 10px 20px; /* Some padding for breathing room */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Style for the links in the navbar */
.mainNav a {
    color: white; /* White color on gradient background */
    text-decoration: none; /* Remove underlines */
    margin: 0 15px; /* Space out the links */
    transition: 0.3s; /* Smooth hover effect */
}

/* Hover effect for the links */
.mainNav a:hover {
    color: #f8f9fa; /* Light greyish on hover */
    transform: translateY(-3px); /* Slight lift on hover */
}

/* Styling for the list of links */
.mainNav ul {
    display: flex; /* Make the links horizontal */
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

/* Styling for the logo and create post images */
.mainNav img {
    border-radius: 10px; /* Slight rounded corners for images */
    transition: 0.3s; /* Smooth hover effect */
}

/* Hover effect for the images */
.mainNav img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}
